@model Evidence.Models.ViewModels.ActionAddEditViewModel

@{
    ViewData["Title"] = "Create";
}


<div class="row  p-3">
    <div class="col-md-4 border centerForm">
        <h1>Nová činnost</h1>
        <hr />
        <form asp-action="Create">
            @if(ViewBag.message != null){
                <div class="text-danger">@ViewBag.message</div>
            }
            
            <div class="form-group">
                <label asp-for="SelectedEmployee" class="control-label"></label>
                @Html.DropDownListFor(model => model.SelectedEmployee, new SelectList(Model.Employees, "Id", "Name"), "Vyberte zaměstnance", new {@class = "form-control"})
                <span asp-validation-for="SelectedEmployee" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="SelectedProject" class="control-label"></label>
                @Html.DropDownListFor(model => model.SelectedProject, new SelectList(Model.Projects, "Id", "Name"), "Vyberte projekt", new {@class = "form-control"})
                <span asp-validation-for="SelectedProject" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ActionDate" class="control-label"></label>
                <input asp-for="ActionDate" type="date" class="form-control"/>
                <span asp-validation-for="ActionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpentTime" class="control-label"></label>
                <input asp-for="SpentTime" class="form-control"/>
                <span asp-validation-for="SpentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Přidat" class="btn btn-block btn-primary"/>
                <a class="btn btn-block btn-secondary" asp-action="Index">Zpět na seznam</a>

            </div>
        </form>
        
        <div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}